#content-wrapper-forum {
    margin : 10px;
}

body {
	background-color : #fff;
	padding: 0;
	margin: 0;
	font-family: Arial,Verdana;
	font-size: 13px;
    cursor:default;
}

a,a:visited  { color : #31319e; }

/* p,table  { font-size : 13px } */

a img {
    border:none;
}

label {
    cursor:pointer;
}

input[type="submit"] {
    cursor:pointer;
}


.forumTable {
    width:100%;
    border-collapse: collapse;
    font : 14px Arial;
}

.forumtable_results {
    width:100%;
    border-collapse: collapse;
    font : 13px Arial, Verdana;
	text-align:center;
	font-weight:bold;
}

.forumTable tr > td  {
    margin: 0;
    padding:3px;
    border : 1px solid #555;
    background-color : white;
}

.forummenu {
    background-color:#EEE;
    border:none;
    border-collapse:collapse;
    width:100%;
}

.forummenu td {
    padding:3px;
}


a.forumLink, a.forumLink:visited {
	font : bold 13px Arial,Verdana;
	color: blue;
}

.forumTable .groupRow {
	font-weight: bold;
	color: white;
}

.optiongroup {
    background-color: #888;
    color: white;
    font-weight: bold;
}

.forumTable th, .forumTable td {
    text-align:left;
}


.forumTable th {
    color: white;
    background-color: #4ea6e8 !important;
    background-image : url(top-bg00.gif);
    font-weight : normal;
    padding-left: 3px;
    height : 22px;
    margin: 0px;
    border : 1px solid #555;
}

.forumTable .altCol {
    background-color: #ddd;
}

.msgTable_t {
    width:100%;
    border-collapse: collapse;
    font : 13px Arial, Verdana;
}

.msgTable, .msgTable_green, #profileTable {
    width:100%;
    border-collapse:collapse;
    font : 13px Arial, Verdana;
    margin-bottom:10px;
}

.msgTable .msgBody {
    border-collapse:separate;
}

#profileTable {
	width:auto;
    border-collapse:separate;
    border-spacing:0;
}


.msgFooter {
	font : 10px Verdana, Arial;
	background-color: #DDD;
	border : 1px solid #555;
	height: 18px;
	padding-left: 5px;
}

.msgBody {
	padding: 10px;
	font-family: Arial, Verdana;
	background-color: #eee;
	border : 1px solid #555;
	cursor : text;
}

.msgBody a {
    color:#31319e;
}

.msgBody li {
	margin-left:10px;
}

#msgform .msgTable{
    border-spacing: 0;
    border-collapse:separate;
}

#msgform .msgTable td {
    padding:0;
}

#msgform .msgBody td {
    padding:4px;
}

#msgform .msgBody {
	border-top:none;
}


.smallInfo, .smallInfo1 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

a.newTopic  {  	color : orange !important; }


.closedTopic  {	color : red; }

a.pages:link, a.pages:visited {font-size:11px;font-weight:bold;}

a.pages:hover { color:blue;}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999; 
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/* begin forum tags */

.src {
    font-family: monospace;
    font-size: 10pt;
    border-top:1px solid #CCB67E;
    border-bottom:1px solid #FFFEFA;
    border-right:1px solid #FFFEFA;
    border-left:1px solid #CCB67E;
    margin:4px 0;
    background-color: #FFFAED;
    padding : 9px;
}

.msgBody td[style~="xx-small"] {
    font: 11px Arial, Verdana !important;
}

.quote {
	border-collapse:collapse;
	border: solid 1px #888;
	margin :10px;
    background-color:#efefff;
}

	.quote td, .quote th {
	    text-align:left;
        font-size:11px;
	}

	.quote th {
        background-color:#ddd;
		font:bold Arial;
		padding:4px;
	}

	.quote td {
        font:Verdana, Arial;
		padding:7px;
	}

.spoiler{
    border: solid 1px #888888;
    margin :10px;
    background-color:#ddd;
    font: bold 11px Arial;
}

.msgBody table span {
	display:inline-block;
	margin-right:5px;
}

pre span {
	float:none !important;
	display:inline !important;
	margin:0 !important;
}

/* end forum tags */

#forum_last_info {
    background-color:#fff;
}

    #forum_last_info td {
         padding-top:10px;
         font: 11px Verdana;
    }

.folder, .folder_new {
    width:18px;
    height:14px;
    background: transparent url('icons000.gif') top left no-repeat;
    float:left;
}

.folder_new {
    background-position: right top !important;
}

.ball_orange, .ball_silver {
    width:16px;
    height:16px;
    background: transparent url('icons000.gif') bottom left no-repeat;
}

.rss {
     border:1px solid;
     border-color:#ffc8a4 #7d3302 #3f1a01 #ff9a57;
     padding:0px 3px;
     font:bold 10px verdana,sans-serif;
     color:#FFF !important;
     background-color:#f60;
     text-decoration:none;
     margin:0px;
     vertical-align:middle;
}


.ball_orange {
    background-position:bottom right !important;
}


.forum_info_from_last_visit {
     font: 11px Verdana;
}

.sort_options {
    border:none;
    border-collapse:collapse;
    width:100%;
    font:11px Verdana;
}

    .sort_options td {
        padding:3px;
    }

    .sort_options select {
        font:11px Verdana;
        border: 1px solid;
    }

    .sort_options form {
         margin:0;
    }

        .sort_options form input[type="submit"] {
            border: solid 1px gray;
            font : bold 11px Verdana;
            height:20px;
            margin-left:2px;
            cursor:pointer;
        }

        .sort_options form input#search_in {
            border:1px solid;
        }

/*td iframe {
    border:none;
    overflow:hidden;
    width:250px;
    height:21px;
    margin-bottom:0px;
}*/

.topic_subject {
   margin-bottom:10px;
   padding-bottom:10px;
   font:bold 14px Arial;
   color:#069;
}

#modTools{
    font: 11px verdana;
}

    #modTools input[type="submit"] {
        font: 11px Verdana;
        border: solid 1px;
    }

.messageHeader b {
    color:#ff0;
}

#searchHelp_button {
    text-align:right;
    text-decoration:underline;
    padding-right:5px;
}

#searchHelp_button span {
    float:left;
    cursor:pointer;
}

#searchHelp_button a {
    color:#fff;
    margin-right: 5px;
}

#author_info {
    width:80%;
    background-color:#eee;
    border:1px solid #333333;
    border-collapse:collapse;
    text-align:left;
    line-height:20px;
}

    #author_info td {
        padding:2px;
    }
	
	#author_info th {
		padding:0;
	}
		#author_info #info_page {
			width:100%;
		}

    #author_id th {
        width:60%;
        color:#fff;
    }

    #author_id tbody tr {
        background-color:#eee;
    }

#member_messages_to_forums {
    border:1px solid #777;
    background-color:#777;
    border-collapse:collapse;
}

    #member_messages_to_forums td {
        padding:0;
    }

        #member_messages_to_forums table {
             font:12px Verdana, Arial;
             text-align:left;
             border-collapse:collapse;
             border:none;
             background-color:#eee;
        }

            #member_messages_to_forums table td {
                padding:4px;
            }

                #first_tr_member td {
                    color: white;
                    background-color: #006699;
                /*  background-image : url(images/b_back.gif); */
                    background-image : url(top-bg00.gif);
                    text-align : left;
                    font-weight : normal;
                    padding-left: 3px;
                    height : 22px;
                    margin: 0px;
                    border : 1px solid #555555;
                }

                .search_img {
                    position:relative;
                    margin-right:5px;
                    top:3px;
                }

.bar_l, .bar_c, .bar_r {
    height:12px;
    float:left;
    width:5px;
}

.bar_l {
    background:transparent url('bar_l000.gif') no-repeat;
}

.bar_c {
    background:transparent url('bar_c000.gif') repeat-x;
}

.bar_r {
    background:transparent url('bar_r000.gif') no-repeat;
    margin-right:5px;
}

.msgTable .messageHeader, .msgTable_green .messageHeader, .messageBox .messageHeader {
    color: white;
    background-color: #458857;
    background-image : url(top-bg00.gif);
    text-align : left;
    font-weight : normal;
    padding: 1px 3px !important;
    height : 22px;
    margin: 0px;
    border : 1px solid #555555;
    vertical-align:middle;
}

#profileTable .messageHeader, #author_info .messageHeader {
    background-image : url(top-bg00.gif);
}


.msgTable_green .messageHeader {
	background-color:008000;
    background-image : url(top-bg_g.gif);
	padding: 1px 1px 1px 3px;
}


.messageFooter {
    background-image : url(top-bg00.gif);
    height: 10px;
    border : 1px solid #555555;
}

#profileform table, #author_info {
    border:#aaa 1px solid;
    background-color:#eee;
    font: 12px Verdana,Arial;
}

#profileform td {
    padding:5px;
}

#profileform input[type="submit"] {
    border: 1px solid;
    font: 11px Verdana,Arial;
}

#profileform textarea {
    width:496px;
    height:80px;
}

#profileform select {
    font: 12px Arial;
    width:350px;
}

.newmessage {
    color:#ff0 !important;
    font-weight:bold;
    margin:5px;
}

.postlisttitle {
    padding:3px;
    height:20px;
    background-color:#ccc;
}

#login_form > table, #remind_form > table {
    width:100%;
    border:none;
}

#login_form > table > tbody > tr > td > table, #remind_form > table > tbody > tr > td > table {
    border:none;
    background-color:#87720F;
}


.loginform {
    background-color:#eee;
    border:none;
}

.loginform #enter_login {
    color:#fff;
    text-align:center;
    background-color:#69c;
    font-weight:bold;
}

#register_table {
    border:none;
    background-color:#eee;
    font: 12px Verdana,Arial;
    border : 1px solid #999;
    text-align:left;
}

.postslisttitle {
    width:400px;
    background-color:#69C;
}

#register_table textarea {
    width:600px;
    height: 200px;
    font: 11px verdana;
}

#register_table .agrees {
    text-align:center;
    background-color:#DDD;
    font: bold 11px Verdana;
}


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
}

ul.tabs li {
    font-weight:bold;
    float:left;
	color:#fff;
	text-decoration:underline;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

ul.tabs li a {
	color:#fff;
	padding:8px;
	display:block;
	height:16px;
	outline: none;
}

ul.tabs li a:hover, ul.tabs li.active {
    background:transparent url('top-bg_l.gif');
	cursor:pointer;
}

ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    cursor:default;
}

.blue_tab {
    font-weight:bold;
    float:left;
	color:#fff;
	text-decoration:underline;
}

.blue_tab#act_tab, .blue_tab:hover {
    background:transparent url('top-bg_l.gif');
    cursor:default;
}

.blue_tab:hover {
    cursor:pointer;
}


.blue_tab a {
    color:#fff;
	padding:8px;
	display:block;
	height:16px;
}

#profileform .messageHeader, #profileform .messageHeader td {
    padding:0;
}

#block_form {
	width:550px;
	margin:10px;
}

	#block_form span {
		margin-left:10px;
	}
	
	#block_form form {
		margin:10px 0 0 10px;
	}
	
		#block_form .label_block {
			float:left;
			font-weight:bold;
		}

		#block_form .input_block {
			float:right;
			width:400px;
		}

			#block_form select {
				margin:0;
				height:20px;
				width:380px;
			}

			#block_form input {
				width:376px;
			}

			#block_form input[type="checkbox"], #block_form input[type="submit"] {
				width:auto;
			}

			#block_form input[type="submit"] {
				margin-top:10px;
			}	
			
			#block_form textarea {
				width:374px;
				height:45px;
				margin:0;
			}

			#ban_time div {
				float:left;
				margin-right:30px;
			}

			#ban_time select {
				width:45px;
			}

#mark_read {
	text-align:right;
}


#vkb_callVirt {
	cursor:pointer;
	color:#00f;
	text-decoration:underline;
}

#author {
    width:200px;
	padding: 1px 1px 1px 18px;
	border: 1px solid #888;
    height:15px;
}

.author {
	background:#fff url('user0000.png') center left no-repeat;
}
.author_guest {
	background:#fff url('usergray.png') center left no-repeat;
}

#passDiv {
	display:inline;
}

.icon_cell {
	width:21px !important;
}

	.icon_cell img {
		width:21px;
		height:16px;
	}

.button_img_new, .button_img_reply {
	height:20px;
	width:60px;
}

.button_img_reply {
	width:80px;
}

.links_mid {
	position:absolute;
	background-color:#fff;
	display:none;
	border:1px solid #000;
	font-size:13px;
	left:114px;
	padding:5px 20px 5px 5px;
	z-index:10;
}

	.links_mid input {
		font-size:11px;
		margin:5px;
		width:300px;
	}

    .links_mid label {
		font: Bold 12px Arial,Verdana;
  		margin-left:5px;
	}


.hideCopyLinks {
	top:0;
	right:5px;
	position:absolute;
	cursor:pointer;
	font-weight:bold;
	font-family: Consolas;
}

td {
	vertical-align:top;
}

.help_search {
    border-collapse:collapse;
    border:none !important;
}

.help_search td {
    padding:0 !important;
    border:none !important;
}

.help_search table table {
    border:1px solid #808080;
    padding:1px;
}

.help_search table table td {
    border:1px solid #555 !important;
    padding:3px !important;
}

table[cellspacing] {
    border-collapse:separate !important;
}

.msgBodytable table {
    *border-collapse:separate !important;
}

.msgFooter {
    vertical-align:middle;
}

.submit {
    background: url('fade-but.png') repeat-x 0 -2px;
    cursor:pointer;
    height:22px;
    position:relative;
    padding: 1px 6px;
    border: 1px solid #bbb;
}

#searchfrm table tr td {
    padding:5px 3px;
}