@model MonopLib.Game
@{
    var cells = Model.Cells;
    string RenderCellRent(int c) => cells[c].Land ? $"${cells[c].Rent()}" : "";
}
<div class="board">
    <div class="row row1" id="">
        @for (int c = 0; c <= 10; c++)
        {
            <div class='box @( (c==0 || c==10) ? "box-c" : "box-x")' id='map_c'@c>
                    <span class="title blanktitle" id="">@cells[c].Title</span>
                <div class="runway" ></div>
                <span class="price">@RenderCellRent(c)</span>
                @if (cells[c].Group==1)
                {
                    <div class="owner-top" style="background: #b68d4c;"></div>
                }
                else if (cells[c].Group==2)
                {
                    <div class="owner-top" style="background: #87e0fd;"></div>
                }
            </div>
        }
    </div>
    <div class="row row2">
        <div class="col1">
            @for (int c = 11; c <= 19; c++)
            {
                <div class="box box-y" id='map_c'@c>
                    <span class="title blanktitle" style=" margin-left: 12px;">@cells[c].Title</span>
                    <div class="runway"></div>
                    <span class="price">@RenderCellRent(c)</span>
                    @if (cells[c].Group==3)
                    {
                        <div class="owner-right" style="background: #ad1283;"></div>
                    }
                    else if (cells[c].Group==4)
                    {
                        <div class="owner-right" style="background: #f79621;"></div>
                    }
                </div>
            }
        </div>
        <div class="col3">
            @for (int c = 39; c >= 31; c--)
            {
                    <div class="box box-y" id='map_c'@c>
                    <span class="title blanktitle" id="">@cells[c].Title</span>
                    <div class="runway"></div>

                    <span class="price">@RenderCellRent(c)</span>
                    @if (cells[c].Group==7)
                    {
                        <div class="owner-left" style="background: green;"></div>
                    }
                    else if(cells[c].Group==8)
                    {
                        <div class="owner-left" style="background: #2c539e;"></div>
                    }
                </div>
            }
        </div>

        <div id='timer' ></div>
        <div id='plinfo' ></div>
        <div id='player_buttons' ></div>

        <div id='logs' >
        </div>

    </div>
    <div class="row row3" id="">
        @for (int c = 30; c >= 20; c--)
        {
            <div class='box @( (c==20 || c==30) ? "box-c" : "box-x" )' id='map_c'@c>
                <span class="title blanktitle" style="margin-top: 12px;" >@cells[c].Title</span>
                <div class="runway"></div>
                    <span class="price">@RenderCellRent(c)</span>
                @if (cells[c].Group == 5)
                {
                    <div class="owner-bottom" style="background: red;"></div>
                }
                else if(cells[c].Group==6)
                {
                    <div class="owner-bottom" style="background: #ffff88;"></div>
                }
            </div>
        }
    </div>
</div>