@model List<MonopLib.Game>

<div>

	<ul>
		<li><a href="/game/newGame">create_new_game</a></li>

	</ul>

	<h1>Игры</h1>
	<table class="forumTable" style="width:80%;">
		<thead>
			<tr>
				<th>номер игры</th>
				<th>добавить игрока</th>
				<th>играть/смотреть</th>
				<th>Игроки</th>
				<th>Тип броска</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var gg in Model)
            {
                <tr>
                    <td>@($"{gg.Id} r:{gg.Round}")</td>
                    <td>
                        <a href="/game/join/@gg.Id">"join</a>
                        / <a href="/game/add_bot/@gg.Id">add bot</a>

                    </td>
                    <td>
                    <a href="/game/play/@gg.Id">play</a>
                        / <a href="/game/view/@gg.Id">view</a>
                    </td>
                    <td>players: @string.Join(",", gg.Players.Select(pl => pl.Name))</td>
                    <td><a href="/game/change_roll_mode/@gg.Id">gg.is_manual_roll_mode</a></td>
		        </tr>
            }
	  </tbody>
  </table>

</div>